
.local-box {
    position: fixed;
    bottom: 1vh;
    right: 5vh;
    height: 30vh;
}

.remote-box {
    position: fixed;
    top: 7vh;
    left: 2vh;
    height: 85vh;
    z-index: -1;
}   
.video-room-header {
    display: block;
    width: 205vh;
    padding: 1vh;
    background-color: white;
    text-align: center;
}